{
  "parser": "@typescript-eslint/parser",
  "plugins": ["eslint-plugin-cypress", "@typescript-eslint"],
  "env": {"cypress/globals": true},
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
